server {
  listen 8000;
	
	location / {
		include uwsgi_params;
		uwsgi_pass unix:///tmp/uwsgi_gallery.sock;
	}

	location ^~ /view {
		include uwsgi_params;
		uwsgi_pass unix:///tmp/uwsgi_gallery.sock;

		# let clients cache this content for a bit
		expires 24h;
		add_header Pragma public;
		add_header Cache-Control "public, must-revalidate, proxy-revalidate";
	}
}
